{
	"MinGroupMembers": 1,
	"MaxGroupMembers": null,
	"MinGroupLeaders": 1,
	"MaxGroupLeaders": 4,
	"MinFemaleGroupMembers": 1,
	"MaxFemaleGroupMembers": 4,
	"MinMaleGroupMembers": 1,
	"MaxMaleGroupMembers": null,
	"MinFemaleGroupLeaders": 1,
	"MaxFemaleGroupLeaders": null,
	"MinMaleGroupLeaders": 1,
	"MaxMaleGroupLeaders": 2,
	"FemaleMembers": [
		"Eva",
		"Bathseba"
	],
	"MaleMembers": [
		"Adam",
		"Kain",
		"Abel"
	],
	"FemaleLeaders": [
		"Esther",
		"Sarah",
		"Hagar"
	],
	"MaleLeaders": [
		"David",
		"Saul",
		"Salomo",
		"Abraham"
	],
	"GroupCount": 2,
	"ManyAssociations": [
		{
			"People": [
				"Adam",
				"Eva"
			],
			"Weight": null
		},
		{
			"People": [
				"Kain",
				"Abel"
			],
			"Weight": -100
		},
		{
			"People": [
				"David",
				"Saul",
				"Salomo"
			],
			"Weight": 1
		}
	],
	"OneToManyAssociations": [
		{
			"FromPerson": "David",
			"ToPersons": [
				"Bathseba"
			],
			"Weight": 100
		},
		{
			"FromPerson": "Abraham",
			"ToPersons": [
				"Sarah",
				"Hagar"
			],
			"Weight": 200
		}
	]
}