{
	"MinGroupMembers": 1,
	"MaxGroupMembers": null,
	"MinGroupLeaders": 1,
	"MaxGroupLeaders": 3,
	"MinFemaleGroupMembers": 1,
	"MaxFemaleGroupMembers": 4,
	"MinMaleGroupMembers": 1,
	"MaxMaleGroupMembers": null,
	"MinFemaleGroupLeaders": 1,
	"MaxFemaleGroupLeaders": null,
	"MinMaleGroupLeaders": 1,
	"MaxMaleGroupLeaders": 2,
	"GroupCount": 2,
	"MultipleAssociationsPenalty": -1,
	"GroupMembersVariance": 1,
    "GroupLeadersVariance": null,
    "FemaleGroupMembersVariance": 1,
    "MaleGroupMembersVariance": null,
    "FemaleGroupLeadersVariance": null,
    "MaleGroupLeadersVariance": 2,
	"FemaleMembers": [
		"Eva",
		"Bathseba"
	],
	"MaleMembers": [
		"Adam",
		"Kain",
		"Abel"
	],
	"FemaleLeaders": [
		"Esther",
		"Sarah"
	],
	"MaleLeaders": [
		"David",
		"Saul",
		"Salomo"
	],
	"Associations": [
		{
			"People": [
				"Adam",
				"Eva"
			],
			"Weight": null
		},
		{
			"People": [
				"Kain",
				"Abel"
			],
			"Weight": -100
		},
		{
			"People": [
				"David",
				"Bathseba"
			],
			"Weight": 100
		},
		{
			"People": [
				"David",
				"Saul",
				"Salomo"
			],
			"Weight": 1
		}
	]
}